black==19.3b0;python_version>"3.6"
detox==0.19
flake8==3.7.8
twine>=1.11.0
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
